{% extends "admin/base_site.html" %}
{% block title %}Backup Restore{% endblock %}
{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('whatever site administration') }}</a>
    </h1>
{% endblock %}
{% block content %}
    <h1>Restore Backup</h1>
    <h2>{{ object.backup }}</h2>
    <h2>from: {{ object.created_at }}</h2>
    <hr>
    <br/>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
        <br/>
        <button class="button" type="submit" style="background-color: green">Restore</button>
        <a style="padding-left: 20px" href="{% url 'admin:django_backup_utils_backup_changelist' %}" type="button">Cancel</a>
    </form>
    <script></script>
{% endblock %}